---
import DocsLayout from '../../layouts/DocsLayout.astro';
---

<DocsLayout current="multiplayer">
  <p>Qomicex 集成了基于 EasyTier 的内网穿透联机功能，让你无需公网 IP 或端口转发即可与好友畅玩。</p>
  <h4>创建联机房间</h4>
  <ol>
    <li>在「联机」页面点击「创建房间」。</li>
    <li>选择需要联机的游戏实例。</li>
    <li>启动器会自动建立虚拟网络连接。</li>
    <li>将房间码分享给好友即可。</li>
  </ol>
  <h4>加入联机房间</h4>
  <ol>
    <li>在「联机」页面点击「加入房间」。</li>
    <li>输入好友分享的房间码。</li>
    <li>连接成功后，好友的虚拟 IP 会显示在列表中。</li>
    <li>在 Minecraft 多人游戏中添加该 IP 即可加入。</li>
  </ol>
  <div class="rounded-lg border border-yellow-500/20 bg-yellow-500/5 px-4 py-3">
    <strong>注意：</strong>所有参与者都需要安装 Qomicex 启动器并进入联机页面。联机性能取决于网络状况。
  </div>
</DocsLayout>
